
	body{
	margin-left: 200px;
	margin-top: 100px;
	background-color: #354343;
	font-size: 1px}
h1{
	font-family: impect;
	margin-left: 400px;
	font-size: 70px;
	font-weight: bold;
	color: #afc97c;
}
.box{
		height: 350px;
		width: 600px;
		background: white;
		margin-left: 200px;
		margin-top: 10px;
	}
	.circle{
		height: 210px;
		width: 210px;
		background: red;
		border-radius: 50%;
		position: relative;
		top: -380px;
		left: 200px;
		margin-left: 200px;
		margin-top: 100px;
	}